In [1]:
import pandas as pd
import numpy as np

In [6]:
ratings = pd.read_csv('../data/ratings_data.txt', sep=' ', header=None)
ratings.columns = ['userId', 'itemId', 'rating']
ratings.head()

   userId  itemId  rating
0       1     100       4
1       1     101       5
2       1     102       3
3       1      10       3
4       1     103       5

In [16]:
user_trust = pd.read_csv('../data/trust_data.txt', sep=' ', header=None)
user_trust.columns = ['dummy', 'sourceUserId', 'targetUserId', 'trustValue']
user_trust = user_trust.drop(columns=['dummy', 'trustValue'])
user_trust.head()

   sourceUserId  targetUserId
0         22605         42915
1         22605          5052
2         22605         42913
3         22605         18420
4         22605         42914