In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('data/ratings_data.txt', sep=' ', header=None)
ratings.columns = ['userId', 'itemId', 'rating']
ratings.head()

   userId  itemId  rating
0       1     100       4
1       1     101       5
2       1     102       3
3       1      10       3
4       1     103       5

In [3]:
user_trust = pd.read_csv('data/trust_data.txt', sep=' ', header=None)
user_trust.columns = ['dummy','sourceUserId', 'targetUserId', 'trustValue']
user_trust = user_trust.drop(columns=['dummy', 'trustValue'])

In [122]:
x = user_trust.query('sourceUserId == 2')['targetUserId']

In [7]:
ratings.query('itemId == 100')['userId']

0          1
15098    161
23306    232
27958    267
35163    314
35586    317
38524    331
70032    581
75891    639
76448    641
83718    728
84395    735
97957    850
Name: userId, dtype: int64

In [88]:
rating_count = ratings.groupby('userId').count()
rating_count.head()

        itemId  rating
userId
1          234     234
2           62      62
3           21      21
4           38      38
5           39      39

In [96]:
unique_userId = ratings['userId'].unique()
unique_userId

array([    1,     2,     3, ..., 49286, 49287, 49289])

In [106]:
ratings_by_user = ratings.groupby('userId')
ratings_by_user.head()

        userId  itemId  rating
0            1     100       4
1            1     101       5
2            1     102       3
3            1      10       3
4            1     103       5
234          2     235       4
235          2     236       5
236          2     237       5
237          2     238       2
238          2     239       5
296          3     297       5
297          3     298       5
298          3     299       4
299          3     300       3
300          3     301       5
317          4     318       4
318          4     319       4
319          4     320       5
320          4     321       5
321          4     322       4
355          5     356       5
356          5     357       5
357          5     358       5
358          5     359       3
359          5     360       5
394          6     395       5
395          6     396       5
396          6     397       5
397          6     398       4
398          6     399       1
...        ...     ...     ...
664769   49270   14078       5
664770   49270   20219       1
664784   49271   66473       5
664785   49273  114275       4
664786   49275     369       2
664787   49278   19414       4
664788   49278    2291       1
664789   49278    6131       5
664790   49279  117562       3
664791   49279   54204       4
664792   49279     615       5
664793   49279   79847       4
664794   49279   86440       5
664795   49280  109449       5
664796   49280   13686       5
664797   49280   50352       5
664798   49281  131959       1
664799   49281  136938       3
664800   49281  139734       5
664801   49281  139735       5
664802   49281  139736       4
664807   49282   50062       5
664808   49283  111985       5
664809   49286   93625       4
664810   49287   64368       5
664811   49289   10984       4
664812   49289    1105       5
664813   49289  120198       4
664814   49289  133444       5
664815   49289  139738       5

[149897 rows x 3 columns]

In [9]:
user_counts = {}
for index, row in ratings.iterrows():
    userid, itemid = row['userId'], row['itemId']
    if userid not in user_counts:
        user_counts[userid] = {'total_ratings':0, 'friends_count':0, 'items_rated_by_friends':0}
        print('userid: ', userid, 'itemid: ', itemid)
        friend_df = user_trust.query('sourceUserId == @userid')['targetUserId']
        
        user_counts[userid]['friends_count'] = len(friend_df)
        
        total_item_rating = ratings.query('itemId == @itemid')['userId']
        
        friend_item_rating = set(friend_df).intersection(total_item_rating)
        total_user_friend_count = len(friend_item_rating)
        
        print('count of item selected by a user also selected by friends: ', total_user_friend_count)

KeyboardInterrupt: