In [1]:
# Get overall df of U, I, R (Rating Matrix)
# Cold_start_df = Get all the users who have not rated any items/number of items rated < threshold
# REMOVE cold start user item entries from overall df
# positive_fb_df = overall_df with users

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/payoj/Documents/Spring 2019/Recommender Systems/project/data/ratings_data.txt', sep=' ', header=None)[:150000]
df.columns = ['user','item','rating']

In [14]:
df_user_count = df.groupby('user').count()

user
1    234
2     62
3     21
4     38
5     39
Name: item, dtype: int64

In [4]:
df_trust = pd.read_csv('/Users/payoj/Documents/Spring 2019/Recommender Systems/project/data/trust_data.txt', sep=' ', header=None)

In [5]:
df_trust.columns = ['user','friend','trust']
df_trust.head()

    user  friend  trust
0  22605   42915      1
1  22605    5052      1
2  22605   42913      1
3  22605   18420      1
4  22605   42914      1

In [6]:
df_positive = df.query('rating > 3')

In [7]:
df_neg = df.query('rating <= 3')
df_neg.head()

    user  item  rating
2      1   102       3
3      1    10       3
5      1   104       2
10     1   109       3
21     1   119       3

In [8]:
df_social = pd.DataFrame(columns=['user','item','rating'])
df_social

Empty DataFrame
Columns: [user, item, rating]
Index: []

In [9]:
df_negative = pd.DataFrame(columns=['user','item','rating'])
df_negative

Empty DataFrame
Columns: [user, item, rating]
Index: []

In [10]:
df_neg_user = df_neg.user.unique()[1:2]
df_neg_user

array([2])

In [ ]:
for user in df_neg_user:
    user_friend_trust = df_trust.query("user == @user")
    user_item_rating = df_neg.loc[df_neg['user'] == user]
    friends = user_friend_trust['friend']
    items = user_item_rating['item']
    print('User, rating, item: ')
    print(user_item_rating)
    if(len(user_friend_trust) != 0):
        for item in items:
            count = 0
            item_ratings = df_positive.query('item == @item')
            item_row = user_item_rating.query('item == @item')
            for friend in friends:
                friend_item_pos = item_ratings.query('user == @friend')
                if(len(friend_item_pos) != 0):
                    count += 1
                    print(friend, item, friend_item_pos['rating'])
                    df_social = df_social.append(item_row)
                    break
            if count == 0:
                df_negative = df_negative.append(item_row)
    else:
        print('No friends')
        df_negative = df_negative.append(user_item_rating)

In [ ]:
df_social

In [ ]:
df_negative